/**
 * Revcontent Ad Styles for "API Mode"
 *
 * NOTE: Do not use SINGLE QUOTES in this file, it will obstruct the Gulp process, double-quotes only...
 */
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.rc-amp-row {

}

.rc-cta {
    text-decoration: none;
    outline: none;
    /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
    font-family: inherit;
    color: #000000;
}
.rc-cta:hover {
    text-decoration: none;
}

.rc-amp-ad-item {
    /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
    font-family: inherit;
    margin-bottom: 10px;
}

.rc-headline {
    /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
    font-family: inherit;
    font-size: 16px;
    margin: 4px 0;
    padding: 0;
    font-weight: bold;
}

.rc-brand-label {
    font-size: 10px;
    color: #777777;
    text-align:left;
    clear: both;
    display: block;
    /*font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;*/
    font-family: inherit;
}

@media screen and (min-width: 568px) {
    .rc-amp-row[data-rows="2"] .rc-amp-ad-item {
        width: 50%;
        float: left;
    }

    .rc-amp-row[data-rows="3"] .rc-amp-ad-item,
    .rc-amp-row[data-rows="6"] .rc-amp-ad-item {
        width: 33.3333333333%;
        float: left;
    }

    .rc-amp-row[data-rows="4"] .rc-amp-ad-item,
    .rc-amp-row[data-rows="8"] .rc-amp-ad-item {
        width: 25%;
        float: left;
    }

    .rc-amp-row .rc-amp-ad-item .rc-amp-ad-wrapper {
        padding: 0 10px;
    }

    .rc-amp-row .rc-amp-ad-item:last-child  .rc-amp-ad-wrapper {

    }

    .rc-amp-ad-item {
        margin-bottom: 0;
    }

    .rc-headline {
        font-size: 13px;
    }
}

@media screen and (min-width: 732px) {

}