 @charset "utf-8";
/* CSS Document */

/*------------------------------------------------------------------
[Table of contents]
0. Fonts
1. Clearfix
2. Preloader
3. Typography
4. Headings
5. Main Nav
6. Main Content
7. Column Grid
8. Content Elements
9. Icons
10. Image Hover
11. Compatibility Rules
12. Footer
13. Lists
14. Price Tables
15. Google Maps
16. Shop
-------------------------------------------------------------------*/


/* =0. Fonts
--------------------------------------------------------------------------------------------------------*/
@font-face {
 font-family: 'fontello';
 src: url('../fonts/fontello.eot?3837060');
 src: url('../fonts/fontello.eot?3837060#iefix') format('embedded-opentype'), url('../fonts/fontello.woff?3837060') format('woff'), url('../fonts/fontello.ttf?3837060') format('truetype'), url('../fonts/fontello.svg?3837060#fontello') format('svg');
 font-weight: normal;
 font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windows. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?43886684#fontello') format('svg');
  }
}
*/
/* End Fonts
--------------------------------------------------------------------------------------------------------*/


/* =1. Clearfix
--------------------------------------------------------------------------------------------------------*/
.clear { clear: both; }
.clearfix:after { content: "."; display:block; height:0; clear:both; visibility:hidden; }/* ----- clear fix for floats ----- */
.clearfix { display:inline-block; }
* html .clearfix { height:1%; }/* hides clearfix from IE-mac */
.clearfix { display:block; }/* end hide from IE-mac */
.alignleft { float:left; }
.alignright { float:right; }
.aligncenter { margin:auto; display:block; }
.alignnone { clear:both; font-size:0; line-height:0; margin:0; padding:0; border:0; height:0; width:0; }
.centered { text-align:center; }
.hidden { display: none; visibility: hidden; }
/* Preventing font-rendering switches during CSS transitions inside Flexslider for Safari and Chrome under MacOSX */
*, *:before, *:after { -webkit-font-smoothing: antialiased; }
.flexslider { -webkit-transform: translateZ(0px); }
/* End Clearfix
--------------------------------------------------------------------------------------------------------*/


/* =2. Preloader
--------------------------------------------------------------------------------------------------------*/
#preloader { position:fixed; top:0; left:0; right:0; bottom:0; background:#f5f5f5; z-index:9999; }
#status { z-index:28; position:absolute; color:#555 !important; top:50%; height:220px; width:100%; margin-top:-115px; }
/* horizontal centering */
.parent { width:230px; margin:0px auto; position:relative; height:220px; z-index:11 }
.child { text-align:center; }
/* vertical centering */
.parent { display: table }
.child { display: table-cell; vertical-align: middle; padding:0; }
.child span { text-transform:uppercase; }
/* End Preloader
--------------------------------------------------------------------------------------------------------*/


/* =3. Typography
--------------------------------------------------------------------------------------------------------*/
html, body, #wrap { height: 100%; }
body > #wrap { height: auto; min-height: 100%; }
.content-wrapper { padding-bottom: 91px; }
html { overflow: -moz-scrollbars-vertical; overflow-y: scroll; -webkit-font-smoothing: antialiased; height:100%; -webkit-text-size-adjust: 100%; }
body { font-size: 16px; font-family: 'Merriweather', Georgia, "Times New Roman", Times, serif; color:#555; background:#1D1D1D; height:100% }
strong { font-weight:600; }
a, a > * { -webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; }
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; }
p { line-height:1.5; padding:0 0px 13px 0px; }
.centered p { padding:5px 0 5px 0 }
a { text-decoration:none; }
p a { color:#555; text-decoration:underline; }
p a:hover { color:#2b2b2b; }
a p { color:#555; }
p.small { font-size:11px !important; text-transform:uppercase; font-weight:700; font-family:'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; color:#2b2b2b; padding:0 0 22px 0; letter-spacing:2px; }
a p.small { color:#2b2b2b }
.col2-3.half p.small { padding:0 0 17px 0; }
.col1-3 p.small { padding:0 0 12px 0 !important; }
#preloader p.small { color:#555 !important; padding:0 !important }
code { font:13px 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-style:normal; line-height:1.5; display:block; }
pre { padding:13px 40px 0 40px; }
span.arrow { font:20px 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; float:right; padding-bottom:13px; padding-right:15px; -webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; margin-top:-4px; display:inline-block; opacity:0 }
.back-button span.arrow { opacity:1 !important }
a span.arrow { color:#555; }
a:hover span.arrow { padding-right:0; -webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; opacity:1 }
blockquote { padding:0px 0px 2px 25px; color:#777; font-size:16px; font-style:italic; float:left; width:180px; }
.hentry blockquote:before { content:"“"; float:left; display:block; margin-left:-64px; font-family:Georgia, "Times New Roman", Times, serif; font-size:96px; margin-top:-6px; font-weight:400 }
blockquote p { font-family:'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; }
blockquote p.small { font-style:normal; color:#555; letter-spacing:0; font-weight:600; text-transform:none }
em { font-style:italic; font-family:'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; color:#777; }
code { font:13px "Courier New", Courier, monospace; font-style:normal; line-height:1.5; display:block; padding-top:4px; }
pre { padding:0 30px 25px 30px; border:1px dotted #3e3e3e; margin-top:10px; margin-bottom:10px; display:inline-block }
/* End Typography
--------------------------------------------------------------------------------------------------------*/


/* =4. Headings
--------------------------------------------------------------------------------------------------------*/
h1#logo { display:block; position:relative; float:left }
h1#logo a { display:block; background:url(../images/logo.png) center no-repeat; background-size:235px 44px; width:235px; margin-top: 5px; margin-left: 2px; height:44px; text-indent:-9999px; }
.tagline { float:left; font-family:"Open Sans", Arial, Helvetica, sans-serif; font-size:12px; font-weight:400; padding:0 0 0 16px; margin:0px auto; position:relative; display:table; height:52px; margin-top:-1px; font-style:italic }
.tagline span { vertical-align:middle; display:table-cell }
.hentry h1, h2, h3, h4, h5 { line-height:1.3; color:#2b2b2b; display:block; position:relative; padding-bottom:13px; }
h2 { font-size:48px; font-weight:300; line-height:60px; letter-spacing:-2px; margin-top:-5px; }
h2 strong { font-weight:700; letter-spacing:-1px; }
h3 { font-size:24px; font-weight:400; line-height:31px; }
h4 { font-size:20px; font-weight:400; line-height:27px; }
h5 { font-size:18px; font-weight:400; }
.col2-3.white h3, .col2-3.white-bottom h3, .col2-3.grey h3 { font-size:30px; line-height:40px; }
a h3 { text-decoration:underline }
a h3 span { text-decoration:none !important }
/* End Headings
--------------------------------------------------------------------------------------------------------*/


/* =5. Main Nav
--------------------------------------------------------------------------------------------------------*/
#menu-button { float:right; font-size:14px; font-family:"Open Sans", Arial, Helvetica, sans-serif; text-transform:uppercase; display:table; height:52px; position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.lt-ie10 #menu-button { position:relative; float:right; right:auto }
#menu-button .centralizer { display: table-cell; vertical-align: middle; }
#menu-button .centralizer .cursor { display:block; height:auto; cursor:pointer; background-color: rgba(244, 244, 244, 0.8); }
#nav-button { display:inline-block; width:16px; margin:0; margin-left:5px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); vertical-align:middle }
.nav-bar { background-color:#555; border-radius:1px; display:block; width:16px; height:2px; margin:0px auto 2px; }
#menu-close-button { cursor: pointer; padding: 6px; text-align: center; position: absolute; top: 31px; right: 36px; font-size: 26px; color: #8E8E8E; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
#main-nav { background-color: #1D1D1D; position: absolute; top: 0; right: 0; padding: 34px 44px 20px 44px; width: 200px; }
#main-nav a { text-decoration: none; color: #8E8E8E; font-size: 14px; font-family: "Open Sans", Arial, Helvetica, sans-serif; }
#main-nav > ul a { text-transform: uppercase; }
#main-nav > ul .active > a, #main-nav > ul a.active, #main-nav > .additional-links .active > a, #main-nav > .additional-links a.active, #main-nav li a:hover, #options li a.current, #options li a.selected { color: #fff; }
#main-nav > ul li { padding: 7px 0; }
#main-nav > ul > li > .sub-nav { padding: 9px 0 3px 15px; }
#main-nav > ul > li > .sub-nav > li { padding: 4px 0px; }
#main-nav > ul > li > .sub-nav > li:last-child { padding-bottom: 0px; }
#main-nav > ul > li > .sub-nav > li > a { font-size: 12px; }
.additional-links { padding: 25px 0; }
.additional-links > ul > li { padding: 0 0 14px; }
.additional-links > ul > li:last-child { padding: 0; }
.social-links { padding: 10px 0; }
.social-list > li { float: left; margin: 0 15px 0 0; }
.social-list > li > a:before { content: ""; font-family: fontello; font-size: 14px; }
#main-nav .social-list li a:before { padding:3px; }
#main-nav .social-list li { margin-top:-3px; margin-right:9px; }
#main-nav .social-list { margin-left:-3px; }
.social-list > li > a.facebook:before { content: '\e800'; }
.social-list > li > a.dribbble:before { content: '\e801'; }
.social-list > li > a.behance:before { content: '\e802'; }
.social-list > li > a.git:before { content: '\e803'; }
.social-list > li > a.gplus:before { content: '\e804'; }
.social-list > li > a.xing:before { content: '\e805'; }
.social-list > li > a.instagram:before { content: '\e806'; }
.social-list > li > a.twitter:before { content: '\e807'; }
.social-list > li > a.youtube:before { content: '\e808'; }
.social-list > li > a.slack:before { content: '\e809'; }
.social-list > li > a.pinterest:before { content: '\e80a'; }
.social-list > li > a.tumblr:before { content: '\e80b'; }
.social-list > li > a.soundcloud:before { content: '\e80c'; }
.social-list > li > a.skype:before { content: '\e80d'; }
.social-list > li > a.linkedin:before { content: '\e80e'; }
.social-list > li > a.vimeo:before { content: '\e80f'; }
.social-list > li > a.flickr:before { content: '\e810'; }
.social-list > li > a.email:before { content: '\e811'; }
/* End Main Nav
--------------------------------------------------------------------------------------------------------*/


/* =6. Main Content
--------------------------------------------------------------------------------------------------------*/
#header { position:relative; z-index:155; width:100%; min-height:100px; padding:23px 45px; border-bottom:1px solid #d8d8d8; -webkit-transform: translateZ(0); }
#content { width:100%; position:relative; z-index:55; height:auto; padding-bottom: 24px; }
.container { padding:0px; width:1280px; position:relative; margin:0 auto; padding-top:23px; }
#background-color { background:#f5f5f5; height:100%; width:100%; position:fixed; z-index:1; -webkit-overflow-scrolling: touch; top:0; left:0 }
.oldie #background-color { display:none }
#header, #content { background:#f5f5f5; }
.pushed-left #content, .pushed-left #header, .pushed-left #footer, .pushed-left #background-color { -webkit-transform: translate3d(-200px, 0px, 0px); transform: translate3d(-200px, 0px, 0px); }
.pushed-left-alt #content, .pushed-left-alt #header, .pushed-left-alt #footer, .pushed-left-alt #background-color, .no-csstransforms3d .pushed-left #content, .no-csstransforms3d .pushed-left #header, .no-csstransforms3d .pushed-left #footer { -webkit-transform: translateX(-200px); -ms-transform: translateX(-200px); transform: translateX(-200px); }
#content, #header, #footer, .logo-wrapper, #background-color { -webkit-transition: -webkit-transform 0.33s cubic-bezier(0.33, 0, 0.2, 1) 0s; transition: transform 0.33s cubic-bezier(0.33, 0, 0.2, 1) 0s; }
/* =End Main Content
--------------------------------------------------------------------------------------------------------*/


/* =7. Column Grid
--------------------------------------------------------------------------------------------------------*/
.col3-3 { width:940px; height:auto; margin:10px; float:left; position:relative }
.col4-3 { width:1260px; height:auto; margin:10px; position:relative }
.col1-3 { width:300px; height:280px; margin:10px; background:#e9e9e9; float:left; position:relative }
.col2-3 { width:620px; height:580px; margin:10px; background:#e9e9e9; float:left; position:relative }
.col1-3.auto, .col2-3.auto, .col3-3.auto { height:auto; }
.col2-3.half { height:280px; }
.col3-3.half { height:280px; }
.col1-3.grey { padding:30px 35px 17px 35px; background:#e9e9e9; width:300px; }
.col2-3.grey, .col3-3.grey, .col4-3.grey { padding:45px 60px 44px 50px; background:#e9e9e9 !important; }
.col1-3.white { padding:30px 35px 17px 35px; background:#fff }
.col2-3.white, .col3-3.white, .col4-3.white { padding:45px 50px 44px 50px; background:#fff; }
.col1-3.white-bottom { padding:30px 35px; background:#fff; z-index:33; }
.col2-3.white-bottom { padding:45px 50px 32px 50px; background:#fff; }
.col1-3.white-bottom:after, .col2-3.white-bottom:after { background:#fff; top:-10px; content:""; height:24px; left:50%; position:absolute; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); -o-transform:rotate(45deg); width:24px; margin-left:-12px; }
.element .col1-3, .element .col2-3, .element .col3-3 { margin:0 }
.bottom { position:absolute; bottom:30px; padding:0 50px; left:0; width:100% }
.col1-3 .bottom { padding:3px 35px; bottom:12px; }
a .bottom p { width:190px; }
.back-button { height:85px; }
/* =End Column Grid
--------------------------------------------------------------------------------------------------------*/

/* =8. Content Elements
--------------------------------------------------------------------------------------------------------*/
.overflow, .element { overflow:hidden; }
.break { display:block; position:relative; height:20px; width:100%; }
.whole-tile { position:absolute; left:0; top:0; width:100%; height:100%; display:block; z-index:55; padding:30px 35px; }
.element.hybrid .images, .element.hybrid .service-item { position: absolute; top: 0; right: -0%; z-index: 22; -webkit-transition: right ease-in-out 0.33s; transition: right ease-in-out 0.33s; }
.element.hybrid:hover .images, .element.hybrid:hover .service-item { right: -100%; -webkit-transition: right ease-in-out 0.33s; transition: right ease-in-out 0.33s; }
.element > .elem-content { padding:30px 35px; background:#e9e9e9; width: 300px; }
.ct-part { padding:25px 0px 0px 0px; /*background:#e9e9e9; */ border-top:1px solid #d8d8d8; height: auto; margin-top:9px; }
.ft-part { padding:29px 0px 31px 0px; /*background:#e9e9e9;*/ border-top:1px solid #d8d8d8; height: auto; margin-top:10px; }
.ct-part > p.indented { padding-left:20px; }
.ct-part sub { display: inline-block; font-size: 12px; padding-left: 10px; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; }
.centered .ft-part .social-list { display:inline-block; }
.bottom .social-list { padding-bottom:19px; }
.element .social-list > li { margin: 0 11px 0 1px; }
.element .social-list > li > i { color: #555; font-size: 12px; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; padding-right: 4px; }
.element .social-list > li > a { color: #555; position: relative; top: 1px; }
.element .social-list > li > a:before { font-size: 18px; display:block; margin-top:-2px; }
.element .tag { text-transform: none; display: inline-block; padding:0 8px 0 0; }
.element .tag > .tag-count { text-transform: none; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 12px; }
/* =End Content Elements
--------------------------------------------------------------------------------------------------------*/


/* =9. Icons
--------------------------------------------------------------------------------------------------------*/
.icons { position:relative; height:48px; width:48px; /*float:left;*/ margin-bottom:16px; margin-top:5px; border:1px solid #555; border-radius:51%; }
.icon-holder { position:relative; float:left; height:48px; width:48px; border:1px solid #555; border-radius:51%; margin-top:5px; }
.centered .icons, .centered .icon-holder { float:none; display:inline-block; }
.map { background:url(../images/icons/bg-map.png) no-repeat center left; background-size:48px 48px; }
.winner { background:url(../images/icons/bg-winner.png) no-repeat center; background-size:48px 48px; }
.time { background:url(../images/icons/bg-time.png) no-repeat center; background-size:48px 48px; }
.pig { background:url(../images/icons/bg-pig.png) no-repeat center; background-size:48px 48px; }
.adjust { background:url(../images/icons/bg-adjust.png) no-repeat center; background-size:48px 48px; }
.team { background:url(../images/icons/bg-team.png) no-repeat center; background-size:48px 48px; }
.works { background:url(../images/icons/bg-works.png) no-repeat center; background-size:48px 48px; }
.chat { background:url(../images/icons/bg-chat.png) no-repeat center; background-size:48px 48px; }
.notes { background:url(../images/icons/bg-notes.png) no-repeat center; background-size:48px 48px; }
.camera { background:url(../images/icons/bg-camera.png) no-repeat center; background-size:48px 48px; }
.illustration { background:url(../images/icons/bg-illustration.png) no-repeat center; background-size:48px 48px; }
.social { background:url(../images/icons/bg-social.png) no-repeat center; background-size:48px 48px; }
.vector { background:url(../images/icons/bg-vector.png) no-repeat center; background-size:48px 48px; }
.commerce { background:url(../images/icons/bg-commerce.png) no-repeat center; background-size:48px 48px; }
.search { background:url(../images/icons/bg-search.png) no-repeat center; background-size:48px 48px; }
.like { background:url(../images/icons/bg-like.png) center no-repeat; background-size:48px 48px; }
.share { background:url(../images/icons/bg-share.png) center no-repeat; background-size:48px 48px; }
.document { background:url(../images/icons/bg-document.png) center no-repeat; background-size:48px 48px; }
.apple { background:url(../images/icons/bg-apple.png) center no-repeat; background-size:48px 48px; }
.balance { background:url(../images/icons/bg-balance.png) center no-repeat; background-size:48px 48px; }
.beaker { background:url(../images/icons/bg-beaker.png) center no-repeat; background-size:48px 48px; }
.beer { background:url(../images/icons/bg-beer.png) center no-repeat; background-size:48px 48px; }
.books { background:url(../images/icons/bg-books.png) center no-repeat; background-size:48px 48px; }
.box { background:url(../images/icons/bg-box.png) center no-repeat; background-size:48px 48px; }
.cake { background:url(../images/icons/bg-cake.png) center no-repeat; background-size:48px 48px; }
.calculator { background:url(../images/icons/bg-calculator.png) center no-repeat; background-size:48px 48px; }
.cd { background:url(../images/icons/bg-cd.png) center no-repeat; background-size:48px 48px; }
.champagne { background:url(../images/icons/bg-champagne.png) center no-repeat; background-size:48px 48px; }
.chart { background:url(../images/icons/bg-chart.png) center no-repeat; background-size:48px 48px; }
.cheese { background:url(../images/icons/bg-cheese.png) center no-repeat; background-size:48px 48px; }
.court { background:url(../images/icons/bg-court.png) center no-repeat; background-size:48px 48px; }
.delivery { background:url(../images/icons/bg-delivery.png) center no-repeat; background-size:48px 48px; }
.dvd { background:url(../images/icons/bg-dvd.png) center no-repeat; background-size:48px 48px; }
.eco { background:url(../images/icons/bg-eco.png) center no-repeat; background-size:48px 48px; }
.film { background:url(../images/icons/bg-film.png) center no-repeat; background-size:48px 48px; }
.grape { background:url(../images/icons/bg-grape.png) center no-repeat; background-size:48px 48px; }
.hot { background:url(../images/icons/bg-hot.png) center no-repeat; background-size:48px 48px; }
.house { background:url(../images/icons/bg-house.png) center no-repeat; background-size:48px 48px; }
.icecream { background:url(../images/icons/bg-icecream.png) center no-repeat; background-size:48px 48px; }
.joystick { background:url(../images/icons/bg-joystick.png) center no-repeat; background-size:48px 48px; }
.keynote { background:url(../images/icons/bg-keynote.png) center no-repeat; background-size:48px 48px; }
.link { background:url(../images/icons/bg-link.png) center no-repeat; background-size:48px 48px; }
.magic { background:url(../images/icons/bg-magic.png) center no-repeat; background-size:48px 48px; }
.mail { background:url(../images/icons/bg-mail.png) center no-repeat; background-size:48px 48px; }
.microphone { background:url(../images/icons/bg-microphone.png) center no-repeat; background-size:48px 48px; }
.network { background:url(../images/icons/bg-network.png) center no-repeat; background-size:48px 48px; }
.palette { background:url(../images/icons/bg-palette.png) center no-repeat; background-size:48px 48px; }
.plaster { background:url(../images/icons/bg-plaster.png) center no-repeat; background-size:48px 48px; }
.player { background:url(../images/icons/bg-player.png) center no-repeat; background-size:48px 48px; }
.polaroid { background:url(../images/icons/bg-polaroid.png) center no-repeat; background-size:48px 48px; }
.printer { background:url(../images/icons/bg-printer.png) center no-repeat; background-size:48px 48px; }
.pulse { background:url(../images/icons/bg-pulse.png) center no-repeat; background-size:48px 48px; }
.quote { background:url(../images/icons/bg-quote.png) center no-repeat; background-size:48px 48px; }
.radio { background:url(../images/icons/bg-radio.png) center no-repeat; background-size:48px 48px; }
.recorder { background:url(../images/icons/bg-recorder.png) center no-repeat; background-size:48px 48px; }
.scissors { background:url(../images/icons/bg-scissors.png) center no-repeat; background-size:48px 48px; }
.select { background:url(../images/icons/bg-select.png) center no-repeat; background-size:48px 48px; }
.serving { background:url(../images/icons/bg-serving.png) center no-repeat; background-size:48px 48px; }
.share { background:url(../images/icons/bg-share.png) center no-repeat; background-size:48px 48px; }
.shop { background:url(../images/icons/bg-shop.png) center no-repeat; background-size:48px 48px; }
.shopping { background:url(../images/icons/bg-shopping.png) center no-repeat; background-size:48px 48px; }
.smartphone { background:url(../images/icons/bg-smartphone.png) center no-repeat; background-size:48px 48px; }
.sofa { background:url(../images/icons/bg-sofa.png) center no-repeat; background-size:48px 48px; }
.syringe { background:url(../images/icons/bg-syringe.png) center no-repeat; background-size:48px 48px; }
.tape { background:url(../images/icons/bg-tape.png) center no-repeat; background-size:48px 48px; }
.target { background:url(../images/icons/bg-target.png) center no-repeat; background-size:48px 48px; }
.television { background:url(../images/icons/bg-television.png) center no-repeat; background-size:48px 48px; }
.video { background:url(../images/icons/bg-video.png) center no-repeat; background-size:48px 48px; }
.walkman { background:url(../images/icons/bg-walkman.png) center no-repeat; background-size:48px 48px; }
.zoom { background:url(../images/icons/bg-zoom.png) center no-repeat; background-size:48px 48px; }
.tags { background:url(../images/icons/bg-tags.png) center no-repeat; background-size:48px 48px; }
/* End Icons
--------------------------------------------------------------------------------------------------------*/


/* =10. Image Hover
--------------------------------------------------------------------------------------------------------*/
.images { display:block; position:relative; background:#000;opacity: 0.3; }
.images:hover {opacity: 1;}
.images img { width:100%; display: block; max-width: 100% !important; z-index:9 }
.images.dark img { opacity:0.3; background:#000; }
img { box-shadow: #000 0 0 0 }
.videos { width:940px; height:538px; }
.sliphoveritemTitle { font-size:11px !important; text-transform:uppercase; font-weight:700; font-family:'Open Sans', Arial, Helvetica, sans-serif; letter-spacing:2px; line-height:1.5; display:block; text-decoration:none !important; }
.sliphoveritemTitle span { display:block; font-size:20px; font-weight:700; line-height:1.5; font-family: 'Merriweather', Georgia, "Times New Roman", Times, serif; text-transform:none; letter-spacing:0; position:absolute; bottom:-3px; width:150px; }
.sliphoveritemTitle i { display:block; font:30px 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; right:-3px; font-style:normal !important; position:absolute; line-height:1.5; bottom:-5px; text-decoration:none !important }
.sliphoveritemTitle div { position:relative; padding-left:5px; }
/* End Image Hover
--------------------------------------------------------------------------------------------------------*/


/* =11. Compatibility Rules
--------------------------------------------------------------------------------------------------------*/
.lt-ie9 .pushed-left #content, .lt-ie9 .pushed-left #header, .lt-ie9 .pushed-left #footer, .lt-ie9 .pushed-left #background-color { position: relative; margin-left: -200px; }
.lt-ie9 .pushed-left .logo-wrapper, .lt-ie9 .pushed-left #footer .alignleft { position: relative; margin-left: 200px; }
.lt-ie9 #header { min-width: 960px; padding-left: 10px; padding-right: 10px; }
.lt-ie9 body, .lt-ie9 .content-wrapper { min-width: 960px; }
.lt-ie9 .pushed-left #main-nav { z-index: 200; }
/* =End Compatibility Rules
--------------------------------------------------------------------------------------------------------*/


/* =12. Footer
--------------------------------------------------------------------------------------------------------*/
#footer { background:#f5f5f5; min-height:91px; margin:0px; padding:28px 45px; border-top:1px solid #d8d8d8; width:100%; z-index:55; position:relative; webkit-transform: translateZ(0); -webkit-transform: translate3d(0, 0, 0); }
#footer { margin-top: -91px; }
footer { z-index:1000 !important; }
footer p, footer p a { color:#888; line-height:32px; font-family:'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-style:italic; font-size:13px; padding:0; border:0; text-decoration:none }
footer p a:hover { color:#555; }
span.padding { padding:0 3px; }
footer .social-list { float:left; margin-left:20px; background:#e9e9e9; padding-left:15px; }
footer .social-list li a { text-decoration: none; color: #8E8E8E; line-height:32px; }
/* End Footer
--------------------------------------------------------------------------------------------------------*/


/* =13. Lists
--------------------------------------------------------------------------------------------------------*/
ul.unordered-list, .hentry ul { list-style: circle; line-height:1.5; padding:0px 0px 13px 30px; text-align:left !important; font-size: 16px; font-family: 'Merriweather', Georgia, "Times New Roman", Times, serif; }
ol { list-style: decimal; line-height:1.5; padding:0px 0px 13px 30px; font-size: 16px; font-family: 'Merriweather', Georgia, "Times New Roman", Times, serif; }
.child ul.unordered-list, .child .hentry ul, .child ol { padding:10px 30px 0 50px; }
ul.unordered-list li a, .hentry ul li a, ol li a { color:#555; text-decoration:underline; }
ul.unordered-list li a:hover, .hentry ul li a:hover, ol li a:hover { color:#2b2b2b; text-decoration:underline; }
/* =End Lists
--------------------------------------------------------------------------------------------------------*/


/* =14. Price Tables
--------------------------------------------------------------------------------------------------------*/
.price-table { text-align:center; background:#e9e9e9; padding:0 35px; padding-bottom:30px; width:300px; }
.price-table p.price { font-size:60px; color:#2b2b2b; letter-spacing:-2px; margin-left:-10px; font-family:'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight:600; padding-top:10px; padding-bottom:0 }
.price-table p.price span { font-size:18px; display:inline-block; padding-top:20px; padding-right:5px; font-weight:400; vertical-align:top }
.line-through { text-decoration: line-through; color:#bbb }
.price-table .price-details { line-height:2.0 }
.heading:before { background:none repeat scroll 0 0 rgba(216, 216, 216, 1); bottom:-7px; content:""; height:14px; left:50%; position:absolute; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); -o-transform:rotate(45deg); width:14px; margin-left:-7px; }
.heading:after { background:#e9e9e9; bottom:-5px; content:""; height:16px; left:50%; margin-left:-8px; position:absolute; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); -o-transform:rotate(45deg); width:16px; }
.heading { padding:30px 30px 12px 30px; background:#e9e9e9; position:relative; border-bottom:1px solid #d8d8d8; }
a.button { padding:10px 13px; border:2px solid #555; color:#555; text-decoration:none; position:relative; display:inline-block; margin:4px 0px 6px 0px;  text-align: center;
    text-decoration: none;
    width: 100%;}
a.button:hover { border:2px solid #2b2b2b; color:#2b2b2b; }
/* =End Column Grid
--------------------------------------------------------------------------------------------------------*/


/* =15. Googlemaps
--------------------------------------------------------------------------------------------------------*/
#map { width:620px; height:395px; margin:0; border:0 }
#map:before, #map:after { background: none; content: ''; left: 0; position: absolute; top: 0; width: 100%; }
#map:after { bottom: 0; top: auto; }
/* End Googlemaps
--------------------------------------------------------------------------------------------------------*/


/* =16. Shop
--------------------------------------------------------------------------------------------------------*/
.shop-item a.button { margin:10px 0px 20px 0px; }
.shopping-cart a.button { margin-top:10px; }
span.tiny { font-size:11px; font-family:'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight:400; padding-left:3px; }
.message .icon-holder { margin:0 25px 13px 0; }
.message:hover span.arrow, .back-button:hover span.arrow { padding-right:0; -webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; }
.message span.arrow { opacity:1 !important; padding:0; padding-left:15px; }
.text-centralizer { display:table; height:48px; }
.text-centralizer p, .text-centralizer h4, .text-centralizer h5 { vertical-align:middle; display:table-cell; padding:0; }
.back-button { height:auto; }
.back-button h5 { margin:0; padding:0 }
select { padding:7px; border:1px solid #d8d8d8; margin:0 0px 13px 0px; background: #e9e9e9; color:#555; outline:none; display: inline-block; /*-webkit-appearance:none; -moz-appearance:none; appearance:none;*/ cursor:pointer; }
.white-bottom select, .white .form-part select {background:#fff }
.checkout select { margin:25px 0 4px 0; }
/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
 select {
padding-right:20px
}
}
label { position:relative }
label:after { content:'<>'; font:11px "Consolas", monospace; color:#aaa; -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); -ms-transform:rotate(90deg); transform:rotate(90deg); right:5px; top:2px; padding:0px 4px 2px 4px; border-bottom:1px solid #ddd; position:absolute; pointer-events:none; }
label:before { content:''; right:5px; top:-8px; width:20px; height:36px; background:#e9e9e9; position:absolute; pointer-events:none; display:block; }
.white-bottom label:before {background:#fff }
.lt-ie10 label:before { display:none }
.lt-ie10 label:after { display:none; left:-9999px; }
.mobile label:before { background:none }
.checkout .form-part {margin-bottom:22px;}
.two-columns { width:115px; float:left; }
input[type="checkbox"] { float:left; margin-right:10px; }
.checkout .ft-part {padding-bottom:0 }
/* End Shop
--------------------------------------------------------------------------------------------------------*/
