#rev-opt-out .rd-close-button {
    position: absolute;
    cursor: pointer;
    right: 10px;
    z-index: 10;
}

#rev-opt-out a {
    cursor: pointer !important;
}


#rev-opt-out .rd-box-wrap { /* The div that shows/hides. */
    display:none; /* starts out hidden */
    z-index:2147483641; /* High z-index to ensure it appears above all content */
}

#rev-opt-out .rd-box-overlay { /* Shades out background when selector is active */
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color:black;
    opacity:.5; /* Sets opacity so it's partly transparent */
    /*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";*/ /* IE transparency */
    filter:alpha(opacity=50); /* More IE transparency */
    z-index:2147483641;
}

#rev-opt-out .rd-vertical-offset { /* Fixed position to provide the vertical offset */
    position:fixed;
    display: table-cell;
    top: 0px;
    width:100%;
    /*margin-left: -15px;*/
    z-index:2147483642; /* ensures box appears above overlay */
}

#rev-opt-out .rd-box { /* The actual box, centered in the fixed-position div */
    /* Whatever width you want the box to be */
    /* Everything below is just visual styling */
    position:absolute;
    vertical-align: middle;
    background-color:white;
    padding:10px;
    border:1px solid #555;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    overflow: auto;
    -webkit-box-shadow: 3px 3px 10px 4px #555;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 10px 4px #555;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 10px 4px #555;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#rev-opt-out .rd-normal {
    min-width: 270px;
    max-width: 435px;
    width: 90%;
    margin:10px auto;
}

#rev-opt-out .rd-full-screen {
    position:fixed;
    right:15px;
    left:15px;
    top: 15px;
    bottom: 15px;
}

#rev-opt-out .rd-header {
    height: 20px;
    position: absolute;
    right: 0;
}

#rev-opt-out .rd-content {
    /*position: absolute;
    height: 100%;
    right:10px;
    left:10px;
    top: 30px;
    bottom: 10px;*/
}

#rev-opt-out .rd-about {
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: left;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    color: #333;
    padding: 15px;
}
#rev-opt-out .rd-about .rd-logo {
    background: transparent url(https://www.revcontent.com/assets/img/rc-logo.png) no-repeat bottom center;
    width: 220px;
    height: 48px;
    display: block; margin: 0 auto;
}
#rev-opt-out .rd-about p {
    margin: 16px 0;
    color: #555;
    font-size: 14px;
    line-height: 16px;

}

#rev-opt-out .rd-about p#main{
    text-align: left;
}

#rev-opt-out .rd-about h2 {
    color: #777;
    font-family: Arial, sans-serif;
}
#rev-opt-out .rd-about h2 {
    font-size: 16px;
    line-height: 18px;
}
#rev-opt-out .rd-about a {
    color: #00cb43;
}
#rev-opt-out .rd-well {
    border: 1px solid #E0E0E0;
    padding: 20px;
    text-align: center;
    border-radius: 2px;
    margin: 20px 0;
    margin-bottom: 0;
}
#rev-opt-out .rd-well h2 {
    margin-top: 0;
}
#rev-opt-out .rd-well p {
    margin-bottom: 0;
}
#rev-opt-out .rd-opt-out {
    text-align: center;
}
#rev-opt-out .rd-opt-out a {
    margin-top: 6px;
    display: inline-block;
}
