#rev-opt-out { /* The div that shows/hides. */
    display:none; /* starts out hidden */
    z-index:2147483641; /* High z-index to ensure it appears above all content */
}

#rev-opt-out .rd-box-overlay { /* Shades out background when selector is active */
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color:black;
    opacity:.5; /* Sets opacity so it's partly transparent */
    /*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";*/ /* IE transparency */
    filter:alpha(opacity=50); /* More IE transparency */
    z-index:2147483641;
}

#rev-opt-out .rd-vertical-offset { /* Fixed position to provide the vertical offset */
    position:fixed;
    display: table-cell;
    top: 0px;
    width:100%;
    z-index:2147483642; /* ensures box appears above overlay */
}

#rev-opt-out .rd-box { /* The actual box, centered in the fixed-position div */
    position:absolute;
    vertical-align: middle;
    background-color:white;
    min-width: 290px;
    max-width: 500px;
    width: 90%;
    margin: 0px auto;
    border-radius: 10px;
}

#rev-opt-out.rev-interest-dialog .rd-box {
    max-width: 1024px;
}

#rev-opt-out .rd-modal-content {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    line-height: 0;
    box-sizing:content-box;
}

/* close button */
#rev-opt-out .rd-close-button {
    position: absolute;
    cursor: pointer;
    top: -15px!important;
    right: -15px!important;
    transform: scale(.7)!important;
    transition: all .2s ease-in-out!important;
    width: 35px!important;
    height: 35px;
    border: 1px solid #777777;
    box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.75);
    background: #efefef;
    border-radius: 50%;
}

#rev-opt-out .rd-close-button svg {
    fill: #bdbdbd;
    height: 28px;
    width: 28px;
    top: 50%;
    position: absolute;
    margin-top: -14px;
    left: 50%;
    margin-left: -14px;
}

#rev-opt-out .rd-close-button:hover {
    transform: scale(1)!important;
}

/* loading text */
@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}
.rd-loading {
    color: #00cb43;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    width: 100%;
    margin-top: -11px;
    margin-bottom: 0;
}

.rd-loading span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.rd-loading span:nth-child(2) {
    animation-delay: .2s;
}

.rd-loading span:nth-child(3) {
    animation-delay: .4s;
}