.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

.shoveler {
  display: table;
}

.shoveler li {
  list-style: none;
}

.shoveler .shoveler-btn {
  display: table-cell;
  vertical-align: middle;
}

.shoveler .shoveler-items {
  width: 100%;
  display: table-cell;
}

.shoveler .shoveler-item {
  float: left;
}

.shoveler-size-sm {
  font-size: 12px;
  line-height: 1.2;
}

.shoveler .shoveler-item .shoveler-item-inner {
  padding: 10px;
}

.shoveler.shoveler-size-xs .shoveler-item .shoveler-item-inner {
  padding: 2px;
}

.shoveler.shoveler-size-sm .shoveler-item .shoveler-item-inner {
  padding: 4px;
}

.shoveler.shoveler-size-md .shoveler-item .shoveler-item-inner {
  padding: 6px;
}

.shoveler.shoveler-size-lg .shoveler-item .shoveler-item-inner {
  padding: 8px;
}