* {
  position: relative;
  outline: none;
}

html {
  font-size: 62.5%;
  line-height: 1.4; }

body {
  font-size: 1.6rem;
  font-family: "Roboto", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

html, body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

md-select, md-card, md-list, md-toolbar, ul, ol, p, h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility; }


/* Defaults =====================================================================*/
table {
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
}

a {
  color: #3f51b5;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
h1 {
  font-size: 3.400rem;
  font-weight: 400;
  line-height: 4rem;
}
h2 {
  font-size: 2.400rem;
  font-weight: 400;
  line-height: 3.2rem;
}
h3 {
  font-size: 2.000rem;
  font-weight: 500;
  letter-spacing: 0.005em;
}
h4 {
  font-size: 1.600rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 2.4rem;
}
p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 2.2rem;
  margin: 1.6rem 0;
}
strong {
  font-weight: 500;
}
td, th {
  padding: 12px 6px;
  text-align: left;
}
tr:nth-child(even) td {
  background-color: #f5f5f5;
}
th {
  border-bottom: 1px solid #ccc;
  background-color: #f5f5f5;
}
blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.12);
  font-style: italic;
  margin-left: 0;
  padding-left: 16px;
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

code {
  line-height: 2.2rem;
}

.margin-top {
  margin-top: 8px;
}

.navbar-brand {
  letter-spacing: 0;
  margin-top: 8px;
  width: 260px;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

/* Headings =====================================================================*/
.md-display-4 {
  font-size: 11.2rem;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 11.2rem; }

.md-display-3 {
  font-size: 5.6rem;
  font-weight: 400;
  letter-spacing: -0.005em;
  line-height: 5.6rem; }

.md-display-2 {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 6.4rem; }

.md-display-1 {
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 4rem; }

.md-headline {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.2rem; }

/* banner =====================================================================*/
.banner {
  margin: 0 0 30px;
  text-align: center;
  color: #fff;
}

.banner .banner-inner {
  background: rgba(85, 85, 85, 0.8);
  border-radius: 2px;
  padding: 20px;
  font-size: 1.9rem;
  letter-spacing: 0.03rem;
  line-height: 2.7rem;
}

.banner strong {
  font-weight: 800;
}

.md-title, .md-toolbar-tools {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.005em; }

.md-subhead {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 2.4rem; }

/* Body =====================================================================*/
p, .md-body-1 {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 2rem !important; }

.md-body-2 {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 2.4rem; }

.md-caption {
  font-size: 1.2rem;
  letter-spacing: 0.02em; }

.md-button {
  letter-spacing: 0.01em;
}

.md-button-lg {
  padding: 12px;
}

.text-danger {
  color: #c7254e;
}

md-dialog .md-dialog-content {
  padding: 24px 12px;
}

[disabled].md-button {
  background-color: rgba(0,0,0,0.12) !important;
}

p {
  font-family: "Proxima Nova Regular", 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Container ==================================================================*/
/*#wrapper {
  background-color: rgb(229, 229, 229);
}*/

.container {
  margin-right: auto;
  margin-left: auto;
  /*width: 1170px;*/
  width: 100%;
  max-width: 940px;
}
@media screen and (min-width: 1263px) {
  .container {
    max-width: 1170px;
  }
}




.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}


/* md-content ==================================================================*/
/*md-content {
  background: transparent;
}*/

/* md-card =====================================================================*/
md-card {
  background: #fff;
}

md-content md-card {
  padding: 15px 30px;
}

header md-toolbar {
  padding: 8px 0;
}

.grid md-card {
  cursor: pointer;
}

/* md-list =====================================================================*/
md-list {
  display: block;
  padding: 0;
}

md-list-item, md-list-item .md-list-item-inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* item-detail =====================================================================*/
.item-detail .feature {
  padding-right: 30px;
}

.item-detail .description md-list-item {
  margin-bottom: 16px;
}

.item-detail .description .md-button {
  width: 100%;
}

/* Helper =====================================================================*/

.hide { display: none !important; }

.text-center { text-align: center; }

/* Base =====================================================================*/
header {
  flex-shrink: 0;
  border-bottom: 1px solid #CECECE;
}

header md-toolbar:not(.md-menu-toolbar) {
  background: #fff;
}

header md-toolbar.md-default-theme .md-button {
  color: #333;
}

header h1 {
  position: absolute;
  left: -99999px;
}

header, footer {
  flex: none;
}
header {
  flex-shrink: 0;
}

main {
  background-color: rgb(229, 229, 229);
  flex: 1 0 auto;
  flex-grow: 1;
}

main::after {
  content: '\00a0';
  display: block;
  height: 0px;
  visibility: hidden;
}

main .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

md-toast#widgetSize.md-top {
  min-width: 0;
  left: -8px;
  opacity: 0.8;
  top: -8px;
  min-height: 36px;
  padding: 0 18px;
}

main .container-builder {
  margin-top: 0;
  margin-bottom: 10%;
  flex-grow: 1;
}

main .container.container-builder-header {
  margin: 0;
  flex-grow: 0;
}


footer {
  font-size: 14px;
  border-top: 1px solid rgba(189, 189, 189, 0.5);
}

footer .container {
  margin-top: 8px;
  margin-bottom: 8px;
}

footer .container > div {
  margin: 0 8px;
}

/* Images ==============================================================*/
img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.img-responsive {
  width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: block;
  vertical-align: middle;
}

/* Dialog =====================================================================*/
.md-dialog-container {
  /*height: auto;*/
}

md-dialog  {
  width: 80%;
  max-width: 1100px;
  margin-top: 15px;
}

md-dialog .dialog-header {
  color: #fff;
}

md-dialog .dialog-header .close-button {
  margin-left:auto;
}

md-dialog .dialog-header .close-button md-icon {
  color:#fff;
}

.md-tooltip-lg .md-content {
  white-space: normal;
}

md-tooltip.md-tooltip-dark.md-default-theme .md-background {
  background-color: rgba(0, 0, 0, 0.75);
}

@media (max-width: 1190px) {
  .container {

  }
}

@media (max-width: 959px) {

  .banner {
    padding: 10px;
    margin: 0 0 20px;
  }
  .banner .banner-inner {
    font-size: 1.5rem;
    letter-spacing: 0.01rem;
    line-height: 2rem;
  }

  md-content .description {
    margin-top: 30px;
  }
  md-content .description::before {
    content: 'Description';
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.2rem;
    padding-bottom: 6px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 599px) {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: .4rem;
    margin-top: .4rem;
  }
  md-card md-card-content {
    padding: 8px;
  }
.md-title, .md-toolbar-tools {
  font-size: 1.8rem;
  letter-spacing: 0.004em;
  }

  header .md-toolbar-tools {
    padding: 0 10px;
  }

  header md-toolbar {
    padding: 0;
  }

  .md-button {
    font-size: 12px !important;
  }

  .navbar-brand {
    margin-top: 5px;
  }
  .logo-normal {
    font-size: 24px;
  }
}

/* HACK for things not working */
@media (min-width: 960px) {
  .show-gt-md  {
    display: flex !important;
  }
}

/* IE + General Crossbrower adjustments */
.navbar-logo img {
  max-width: 200px;
}
@media (min-width: 480px) {
  .navbar-logo img {
    max-width: 260px;
  }
}

/* Dialog Overrides for Mobile */
body.os-windows-phone.browser-ie md-dialog.md-transition-in,
body.os-windows-phone.browser-ie md-dialog.md-transition-out {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transform: translate(0, 0) !important;
    -webkit-transform: translate(0, 0) !important;
    -ms-transform: translate(0, 0) !important;
}

body.os-windows-phone.browser-ie.md-dialog-is-showing,
{
    top: auto !important;
    overflow: auto !important;
}

body.os-windows-phone.browser-ie.md-dialog-is-showing .md-dialog-container {
    display: block !important;
    padding: 0 10%;
    height: 100%;
    max-height: 100%;
    position: fixed !important;
    top: 0 !important;
}

body.os-windows-phone.browser-ie.md-dialog-is-showing md-dialog.md-transition-in {
    position: fixed !important;
    opacity: 1 !important;
    top: 5% !important;
    display: block !important;
    max-height: 80% !important;
}

body.os-windows-phone.browser-ie.md-dialog-is-showing md-dialog.md-transition-in md-dialog-content div[layout="column"],
body.os-windows-phone.browser-ie.md-dialog-is-showing md-dialog.md-transition-in md-dialog-content md-content {
    padding: 0 12px;
}

.preloader {
  height: 0;
  padding-bottom: 75%;
  position: relative;
  width: 100%;
}

.preloader img.preview {
  opacity: 0;
  position: absolute;
}

.preloader img.preview.loaded {
  opacity: 1;
  transition: opacity 1s;
}