body {
  padding-top: 70px;
}

.clear-branding {
  left: 30px;
  position: absolute;
  top: 75px;
  z-index: 999;
}

.rc-grid {
  position: relative;
  min-height: 40px;
}

.rc-grid a {
    color: #333;
}

.rc-grid a:hover {
    text-decoration: none;
}

.rc-grid .rc-headline {
    font-size: 16px;
}

.rc-grid .ad-wrapper {
  position: absolute;
  padding: 15px;
}

.rc-grid .ad-wrapper .inner {
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.rc-grid .rc-loader {
  position: absolute;
  left: 50%;
  margin-left: -25%;
  width: 50%;
  bottom: -20px;
  background: #333;
  padding: 10px;
  color: #fff;
  z-index: 1;
  border-radius: 5px;
  text-align: center;
}