#rev-slider2 {
    padding: 0;
    width: 100%;
    clear: both;
    box-sizing: border-box;
    position: relative;

    &.rev-slider-has-data {
        height: auto !important;
    }

    &.rev-slider-pagination {
        #rev-slider-inner {
            cursor: move;
        }
    }

    * {
        user-drag: none;
        -webkit-user-drag: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size:inherit;
        line-height:inherit;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin:0;
        padding:0;
        position:relative;
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
        &:focus {
            text-decoration: none;
            outline: 0;
        }
    }

    button {
        display: inline-block;
        margin: 0;
        padding: 0;
        border: 0;
        border-radius: 0.317rem;
        background-color: inherit;
        text-decoration: none;
        font-weight: 700;
        line-height: 0;
        cursor: pointer;
        -webkit-appearance: none;
        -webkit-font-smoothing: antialiased;
        fill: #222;
    }

    .rev-head {
        position: relative;
        margin-bottom: 2px;

        .rev-header {
            line-height: 22px;
            font-size: 22px;
            margin-bottom: 0;
            text-align: left;
            width: auto;
        }
    }

    .rev-sponsored {
        line-height: 20px;
        font-size: 12px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

        &.top-right {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 1;
        }

        &.bottom-right{
            float: right;
        }

        a {
            color: #999;
        }
    }

    .rev-pagination-dots-wrapper {
        width: 100%;
        text-align: center;
        line-height: 6px;
        padding: 6px 0;
        &-buttons {
            padding: 0;
        }
        &-vertical {
            position: absolute;
            width: auto;
            right: 12px;
            line-height: normal;
            padding: 0;
            top: 50%;
            transform: translateY(-50%);
            .rev-pagination-dots-container {
                .rev-pagination-dots {
                    height: auto !important;
                    .rev-pagination-dot {
                        float: none !important;
                        margin-right: 0 !important;
                        margin-bottom: 12px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .rev-pagination-dots-container {
            display: inline-block;

            .rev-pagination-dots {
                display: inline-block;
                height: 6px;
                vertical-align: top;

                .rev-pagination-dot {
                    position: relative;
                    display: block;
                    margin-right: 12px;
                    float: left;
                    height: 100%;
                    width: 6px;
                    height: 6px;
                    margin-right: 12px;

                    > div {
                        transition: background-color;
                        transition-duration: 300ms;
                        height: 6px;
                        width: 6px;
                        background-color: #999;
                        border-radius: 100%;
                        position: absolute;
                        top: 50%;
                        margin-top: -3px;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    &.rev-active > div {
                        background-color: #000;
                    }
                }
            }
        }
    }

    #rev-slider-container {
        width: 100%;
        clear: both;
        position: relative;
        line-height: 0;

        .rev-btn-wrapper .rev-chevron {
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            left: 0;
            width: 100%;
        }

        .rev-btn-wrapper {
            width: 24px;
            // cursor: pointer;
            position: absolute;
            height: 100%;
            // width: 40px;
            text-align: center;
            user-select: none;
            z-index: 2147483600;
            opacity: 1;
            top: 0;

            button {
                background-color: inherit;
            }

            .rev-btn-container {
                position: relative;
                height: 100%;
                text-align: center;
            }
        }

        .rev-btn-dual {
            position: absolute;
            left: 5px;
            z-index: 100;
            background: #fff;
            box-shadow: 0 0 2px 0 rgba(89,89,89,1);
            top: 50%;
            margin-top: -36px;
            border-radius: 2px;
            opacity: 1;
            visibility: hidden;
            transition: opacity 200ms;

            &.rev-btn-dual-right {
                right: 5px;
                left: auto;
            }

            .rev-btn-wrapper {
                width: 36px !important;

                .rev-chevron {
                    transform: none;
                    display: inline-block;
                    top: auto;
                    margin-top: 0;
                    position: static;
                    left: auto;
                    margin-left: 0;
                    fill: #ccc;
                }

                &:hover .rev-chevron {
                    fill: #aaa;
                }

                &.rev-btn-wrapper-back {
                    border-bottom: 1px solid #ddd;
                }
            }

            .rev-btn-wrapper button {
                width: 100%;
                height: 100%;
            }
        }

        .rev-btn-dual .rev-btn-wrapper {
            position: static;
            width: auto;
            height: auto;
            top: auto;
        }

        .rev-btn-dual .rev-btn-container {
            background-color: inherit;
            opacity: 1;
            height: 36px;
            border-radius: 0;
        }

        #rev-slider-inner {
            width: 100%;
            clear: both;
            position: relative;
            overflow: hidden;

            #rev-slider-grid-transition-container {
                white-space: nowrap;

                #rev-slider-grid-transition,
                #rev-slider-next-grid-transition {
                    // background: #fff;
                    transition: transform;
                    transition-timing-function: ease-in-out;
                    white-space: normal;
                    display: inline-block;
                    width: 100%;
                }
            }

            #rev-slider-grid-container {
                clear: both;
                position: relative;
                width: 100%;
                transition: transform;
                transition-timing-function: ease-in-out;
                // white-space: nowrap;

                #rev-slider-grid {
                    padding: 0;
                    // display: inline-block;
                    // width: 100%;
                    // white-space: normal;
                    // background: #fff;
                }
            }
        }
    }

    .rev-content {
        transition-property: opacity;
        transition-duration: .5s;
        opacity: 1;

        &:hover.rev-text-overlay .rev-ad-inner:after {
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
        }

        &.rev-text-right {
            .rev-image {
                float: left;
                margin-right: 5px;
            }
        }

        &.rev-text-overlay .rev-ad {
            position: relative;
        }

        &.rev-text-overlay .rev-ad a {
            height: 100%;
        }

        &.rev-text-overlay .rev-ad .rev-headline-brand {
            position: absolute;
            bottom: 4px;
            z-index: 100;
            h3, .rev-provider {
                color: #fff;
                text-shadow: 1px 1px rgba(0,0,0,0.8);
            }
        }

        &.rev-text-overlay .rev-ad .rev-headline-brand .rev-provider {
            display: none;
        }

        &.rev-text-overlay .rev-ad-inner:after {
            transition: background .5s linear;
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            content: "";
            display: block;
            background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.65) 100%);
        }

        .rev-ad a {
            display: block;
            height: 100%;
            color: #222;
            width: 100%;
            z-index: 1000000;

            &:hover .rev-headline {
                text-decoration: underline;
            }
        }

        .rev-image {
            position: relative;
            transition: background 250ms ease-in-out;
            background: #eee;
            overflow: hidden;
        }

        .rev-image img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 250ms ease-in-out;
            opacity: 0;
        }

        .rev-image img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        .rev-headline,
        .rev-provider {
            margin: -1px -1px 0 -1px;
        }

        .rev-headline,
        .rev-headline-max-check,
        .rev-provider {
            text-align: left;
        }

        .rev-headline,
        .rev-headline-max-check {
            overflow: hidden;
        }

        .rev-headline h3,
        .rev-headline-max-check h3 {
            font-size: 0px;
            font-weight: 500;
            letter-spacing: .2px;
            line-height: 0px;
            overflow: hidden;
            margin: 0;
            text-transform: none;
        }

        .rev-provider {
            color: #888;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .rev-ad {
            z-index: 1;

            .rev-ad-container {
                height: 100%;
                .rev-ad-outer {
                    height: 100%;
                    .rev-ad-inner {
                        height: 100%;
                    }
                }
            }
        }

        &.rev-next {
            transition-property: opacity;
            transition-duration: .5s;
            opacity: .5;
        }
    }

    &.off #rev-slider-container .rev-btn-dual {
        opacity: 0;
        visibility: hidden;
    }

    &.on #rev-slider-container .rev-btn-dual {
        opacity: 1;
        visibility: visible;
    }

    &.rev-slider-buttons-fly-out .rev-btn-wrapper {
        transition: width 300ms;
    }

    &.rev-slider-vertical #rev-slider-container .rev-btn-wrapper {
        width: 100%;
    }

    &.rev-slider-vertical #rev-slider-container .rev-btn-wrapper-forward.rev-btn-wrapper {
        bottom: 0;
        top: auto;
    }

    &.rev-slider-vertical #rev-slider-container .rev-btn-wrapper button {
        width: 40px;
        left: 50%;
        transform: translate(-50%, 0);
        top: 0;
    }

    &.rev-slider-pagination-disabled {
        #rev-slider-container {
            #rev-slider-inner {
                cursor: default !important;
            }
        }
    }

    &.loaded .rev-content .rev-image {
        background: transparent !important;
    }

    &.loaded .rev-content .rev-image img {
        opacity: 1 !important;
    }
}

#rev-slider2 {
    @import '../../css/revoverlay';
}