.revfeed-explore {

  position: fixed!important;
  z-index: 20000;
  top: 0;
  left: 0;
  width: 103vw;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
  border:1px solid #aaaaaa;
  overflow: hidden;

  &.revfeed-explore-panel {

    transition: all 0.5s;
    opacity: 1;
    display: block;
    border-radius: 8px;

    &.revfeed-explore-panel--docked {
      left: 110vw;
      opacity: 0.9;
    }

    &.revfeed-explore-panel--active {
      left: 1vw;
      opacity: 1;
    }


    .revfeed-explore-wrapper {
      overflow-x: hidden;
      overflow-y: auto;
      min-height: 150vh;
      height: 300vh;
    }


  }




}


.revfeed-panel {
  display: block;
  position: fixed!important;
  z-index: 20000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
  border:1px solid #aaaaaa;
  overflow: hidden;
  transition: all 0.5s;
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  line-height:1.1em;

  .revfeed-panel-wrapper {

    .revfeed-panel-navigation {
          border-bottom: 1.0px solid #f0f0f0;
          background-color: #ffffff;

          &.navigation-offline {
            display: none;
          }

          ul {
            margin: 0;
            padding: 0;
            list-style: none;


            li {

              float: left;
              margin: 0;
              padding: 0 18px;
              text-align: center;
              font-size: 11px;
              color: #777777;
              line-height: 22px;

              a {
                text-decoration: none;
                color: #222222;
              }

            }

          }

        &:after {
          clear: both;

        }
    }

    .revfeed-panel-title {
      display:block;
      clear: both;
      text-align: center;
      line-height: 32px;
      padding: 0 0;
      font-weight: bold;
      font-size: 14px;
      background-color:#ffffff;
      border-bottom: 1px solid #f0f0f0;

      .revfeed-nav-back {
        display: block;
        width: 42px;
        height: 32px;
        cursor: pointer;
        background-color: #f0f0f0;
        text-align: center;
        font-size: 15px;
        color: #000000;
        position: absolute!important;
        left: 0;
        top: 0;

        a {
            display: block;
            width: 42px;
            height: 32px;
            text-decoration: none;
        }


      }

    }

    .revfeed-panel-content {




    }

  }

  &.revfeed-panel--docked {
    left: 103vw;
    transition: all 0.5s;
  }

  &.revfeed-panel--activated {
    left: 0vw;
  }
}