/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
pre,textarea{overflow:auto}
[hidden],audio:not([controls]),template{display:none}
details,main,summary{display:block}
input[type=number]{width:auto}
input[type=search]{-webkit-appearance:textfield}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
progress{display:inline-block}
small{font-size:75%}
textarea{resize:vertical}
[unselectable]{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
*,::after,::before{box-sizing:inherit;border-style:solid;border-width:0}
*{font-size:inherit;line-height:inherit;margin:0;padding:0}
::after,::before{text-decoration:inherit;vertical-align:inherit}
:root{-ms-overflow-style:-ms-autohiding-scrollbar;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;box-sizing:border-box;cursor:default;font:16px/1.5 sans-serif;text-rendering:optimizeLegibility}
a{text-decoration:none}
audio,canvas,iframe,img,svg,video{vertical-align:middle}
button,input,select,textarea{background-color:transparent;color:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;min-height:1.5em}
code,kbd,pre,samp{font-family:monospace,monospace}
nav ol,nav ul{list-style:none}
select{-moz-appearance:none;-webkit-appearance:none}
select::-ms-expand{display:none}
select::-ms-value{color:currentColor}
table{border-collapse:collapse;border-spacing:0}
::-moz-selection{background-color:#B3D4FC;text-shadow:none}
::selection{background-color:#B3D4FC;text-shadow:none}
@media screen{[hidden~=screen]{display:inherit}
[hidden~=screen]:not(:active):not(:focus):not(:target){clip:rect(0 0 0 0)!important;position:absolute!important}
}

.rev-toaster {
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    transition: .5s;
    transition-property: bottom;
    width: 100%;
}

.rev-toaster-loaded {
    bottom: 0 !important;
    /*display: block;*/
}

.rev-toaster:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.rev-by {
    position: absolute;
    background: #000;
    line-height: 20px;
    top: -20px;
    color: #fff;
    font-size: 10px;
    padding: 0px 4px 0;
    border-top: 1px solid #4CC93D;
}

.rev-by:before, .rev-by:after {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    right: -20px;
    content: "";
}
.rev-by:before {
    border-top: solid 10px transparent;
    border-right: solid 10px transparent;
    border-left: solid 10px transparent;
    border-bottom: solid 10px transparent;
}
.rev-by:after {
    border-bottom: solid 10px #000;
    border-left: solid 10px #000;
    border-right: solid 10px transparent;
    border-top: solid 10px transparent;
}

.rev-image {
    float: left;
    margin-right: 16px;
    max-width: 120px;
    max-height: 90px;
}

.rev-image img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
}

.rev-ad {
    padding: 3px 0 3px 3px;
    height: 100%;
    display: inline-block;
}

.rev-headline {
    margin-top: 12px;
    color: #fff;
}

.rev-headline h3 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .4px;
    line-height: 22px;
    margin-top: 12px;
}

.rev-toaster.rev-toaster-multi .rev-image {
    max-width: 80px;
}

.rev-toaster.rev-toater-multi .rev-headline h3 {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .2px;
    line-height: 18px;
    margin-top: 8px;
}

button {
    box-sizing: border-box;
    color: currentColor;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-table;
    background: 0 0;
    white-space: nowrap;

    overflow: hidden;

    border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    box-sizing: border-box;
    color: currentColor;
    user-select: none;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    z-index: 20;
    vertical-align: middle;
    border-radius: 50%;
    background-clip: padding-box;
    overflow: hidden;
    transition: .2s linear;
    transition-property: background-color,box-shadow;
    color: rgba(255,255,255,0.87);
    background-color: #4CC93D;
    line-height: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: 8px;
}

.icon {
    margin: auto;
    background-repeat: no-repeat no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 30px;
    width: 30px;
    color: #f8f8f8;
}

.icon svg {
    width: 15px;
    height: 15px;
}
