body {
    padding-top: 70px;
}

footer {
    margin: 50px 0;
}

.row {
    position: relative;
}

.navbar-nav {
    margin-left: 20px;
}

#revexitunit * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#revexitunit *:before,
#revexitunit *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}