#rev-toaster {
    -ms-overflow-style:-ms-autohiding-scrollbar;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-size-adjust:100%;
    box-sizing:border-box;
    cursor:default;
    text-rendering:optimizeLegibility;
    background: rgba(0, 0, 0, 0.89);
    position: fixed;
    transition: .5s;
    width: 100%;
    padding-top: 3px;
    padding-left: 3px;
    bottom: -20px;
    transform: translateY(100%);
    -ms-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -webkit-transform: translateY(100%);
}

#rev-toaster * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size:inherit;
    line-height:inherit;
    margin:0;
    padding:0;
}

#rev-toaster a,
#rev-toaster a:hover,
#rev-toaster a:focus {
    text-decoration: none;
}

body.rev-toaster-loaded {
    margin: 0;
}

body.rev-toaster-loaded #rev-toaster{
    bottom: 0;
    transform: none;
    -ms-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    z-index: 147483647;
}

#rev-toaster .rev-header {
    position: absolute;
    background: #000;
    line-height: 20px;
    top: -20px;
    left: -3px;
    color: #fff;
    font-size: 10px;
    padding: 0px 4px 0 6px;
    border-top: 1px solid #4CC93D;
    font-weight: 500;
    letter-spacing: .1px;
}

#rev-toaster .rev-header:before,
#rev-toaster .rev-header:after {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    right: -20px;
    content: "";
}
#rev-toaster .rev-header:before {
    border-top: solid 10px transparent;
    border-right: solid 10px transparent;
    border-left: solid 10px transparent;
    border-bottom: solid 10px transparent;
}
#rev-toaster .rev-header:after {
    border-bottom: solid 10px #000;
    border-left: solid 10px #000;
    border-right: solid 10px transparent;
    border-top: solid 10px transparent;
}

#rev-toaster .rev-sponsored {
    text-align: right;
    font-weight: 300;
    font-size: 10px;
    line-height: 16px;
    opacity: .4;
    clear: both;
}

#rev-toaster .rev-sponsored.bottom-left {
    text-align: left;
}

#rev-toaster .rev-sponsored a {
    letter-spacing: .1px;
    color: #fff;
    padding: 0 6px 3px;
    display: inline-block;
}

#rev-toaster .rev-sponsored a span {
    color: #4CC93D;
}

#rev-toaster .rev-content {
    padding-bottom: 3px;
    margin-right: 36px;
    clear: left
}

#rev-toaster .rev-ad a {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000000;
}

#rev-toaster .rev-image {
    height: 75px;
    float: left;
    margin-right: 10px;
}

#rev-toaster .rev-image img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #000;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
}

#rev-toaster .rev-headline {
    max-height: 40px;
    overflow: hidden;
}

#rev-toaster .rev-headline h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 20px;
    margin: 0;
    text-align: left;
    text-transform: none;
}

#rev-toaster .rev-provider {
    font-size: 12px;
    color: #888;
    line-height: 30px;
}

#rev-toaster button.rev-close {
    box-sizing: border-box;
    color: currentColor;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-table;
    background: 0 0;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    box-sizing: border-box;
    color: currentColor;
    user-select: none;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    z-index: 20;
    vertical-align: middle;
    border-radius: 50%;
    background-clip: padding-box;
    overflow: hidden;
    transition: .2s linear;
    transition-property: background-color,box-shadow;
    background-color: #6D6D6D;
    line-height: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: 8px;
}

#rev-toaster button.rev-close .rev-icon {
    margin: auto;
    background-repeat: no-repeat no-repeat;
    fill: currentColor;
    height: 30px;
    width: 15px;
    color: #c5c5c5;
    position: relative;
}

#rev-toaster button.rev-close .rev-icon svg {
    position: absolute;
    top: 7px;
    left: 0;
    width: 15px;
    height: 15px;
}

#rev-toaster {
    @import '../../css/revoverlay';
}