.rev-scroller {
    position: relative !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    //TODO
    // box-shadow: inset 0 -10px 10px -10px #000000;

    &::-webkit-scrollbar {
        display: none !important;
    }
}

.rev-scroller-button {
    position: absolute !important;
    height: 40px !important;
    width: 50px !important;
    background: #fff !important;
    background: linear-gradient(to bottom,#ffffff 0,rgba(246,246,246,.92) 53%,rgba(255,255,255,.84) 100%) !important;
    bottom: 0 !important;
    border-width: 1px 1px 0 1px !important;
    border: 1px solid rgba(121, 121, 121, 0.37) !important;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    left: 50% !important;
    margin-left: -25px !important;
    z-index: 10000 !important;
    border-width: 1px 1px 0 !important;
    cursor: pointer !important;
    svg {
        height: 40px !important;
        width: 40px !important;
        margin-left: 5px !important;
        fill: #696969 !important;
    }
}