#rev-flicker {
    clear: both;
}

#rev-flicker .rev-flicker {
    /*margin: 4px;*/
}

#rev-flicker * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size:inherit;
    line-height:inherit;
    margin:0;
    padding:0;
}

#rev-flicker:focus {
    outline: 0;
}

#rev-flicker .rev-header {
    float: left;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 0;
    text-align: left;
    width: auto;
}

#rev-flicker .flickity-viewport {
    clear: both;
}

#rev-flicker .rev-sponsored {
    line-height: 24px;
    font-size: 12px;
}

#rev-flicker .rev-sponsored.bottom-right,
#rev-flicker .rev-sponsored.top-right {
    float: right;
}

#rev-flicker .rev-sponsored.top-right a {
    vertical-align: -5px;
}

#rev-flicker .flickity-prev-next-button {
    transition: opacity .5s ease-in-out;
    opacity: 1;
}

#rev-flicker .flickity-prev-next-button:disabled {
    opacity: 0;
}

#rev-flicker .rev-sponsored a {
    color: #999;
}

#rev-flicker a,
#rev-flicker a:hover,
#rev-flicker a:focus {
    text-decoration: none;
}

#rev-flicker .rev-ad a {
    display: block;
    color: #222;
}

#rev-flicker .rev-image {
    transition: background .5s ease-in-out;
    background: #eee;
}

#rev-flicker .rev-image img {
    transition: opacity .5s ease-in-out;
    opacity: 0;
}

#rev-flicker.loaded .rev-image {
    background: transparent;
}

#rev-flicker.loaded .rev-image img {
    opacity: 1;
}

#rev-flicker .rev-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

#rev-flicker .rev-headline,
#rev-flicker .rev-provider {
    margin: 0;
    text-align: left;
}

#rev-flicker .rev-headline {
    margin: 0;
    height: 40px;
    overflow: hidden;
}

#rev-flicker .rev-headline h3 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 20px;
    margin: 0;
}

#rev-flicker .rev-provider {
    color: #888;
}

#rev-flicker .rev-ad {
    border-style: solid;
    border-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
}

#rev-flicker .rev-content {
    transition: opacity .5s ease-in-out;
    opacity: 1;
}

#rev-flicker .rev-content.rev-next {
    transition: opacity .5s ease-in-out;
    opacity: .5;
}

#rev-flicker .rev-flicker {
    clear: both;
}

#rev-flicker.rev-flicker-text-overlay .rev-ad {
    position: relative;
}

#rev-flicker.rev-flicker-text-overlay .rev-ad a {
    height: 100%;
}

#rev-flicker.rev-flicker-text-overlay .rev-ad .rev-headline {
    position: absolute;
    bottom: 4px;
    color: #fff;
    text-shadow: 1px 1px rgba(0,0,0,0.8);
    height: auto !important;
}

#rev-flicker.rev-flicker-text-overlay .rev-ad .rev-overlay,
#rev-flicker.rev-flicker-text-overlay .rev-ad .rev-overlay:after,
#rev-flicker.rev-flicker-text-overlay .rev-ad .rev-overlay:before {
    border-radius: 5px;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

#rev-flicker.rev-flicker-text-overlay .rev-ad .rev-overlay:after,
#rev-flicker.rev-flicker-text-overlay .rev-ad .rev-overlay:before {
    transition: all .5s ease-in-out;
    content: "";
    display: block;
}

#rev-flicker.rev-flicker-text-overlay .rev-ad .rev-overlay:after {
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.65) 100%);
}

#rev-flicker.rev-flicker-text-overlay .rev-ad .rev-overlay:before {
    opacity: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
}

#rev-flicker.rev-flicker-text-overlay .rev-ad a:hover .rev-overlay:after {
    opacity: 0;
}

#rev-flicker.rev-flicker-text-overlay .rev-ad a:hover .rev-overlay:before {
    opacity: 1;
}