#rev-slider,
#rev-slider #rev-slider-grid-container  {
    padding: 0;
    width: 100%;
}

#rev-slider #rev-slider-grid {
    padding: 0;
}

#rev-slider #rev-slider-grid-container {
    clear: both;
    position: relative;
    width: 100%;
}

#rev-slider #rev-slider-grid-container {
    transition: transform;
    transition-timing-function: ease-in-out;
}

#rev-slider #rev-slider-container,
#rev-slider #rev-slider-inner {
    width: 100%;
    clear: both;
    overflow: hidden;
    position: relative;
}

#rev-slider {
    clear: both;
    cursor: move;
    /*margin: 4px;*/
}

#rev-slider * {
    user-drag: none;
    -webkit-user-drag: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size:inherit;
    line-height:inherit;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:0;
    padding:0;
}

/*#rev-slider #rev-slider-grid-container > div {
    display: table-cell;
    vertical-align: middle;
}*/

#rev-slider #rev-slider-container .rev-btn-wrapper .rev-chevron {
    display: inline-block;
    height: 36px;
    top: 50%;
    margin-top: -18px;
    position: absolute;
    left: 50%;
    margin-left: -18px;
    fill: #fff;
}

#rev-slider #rev-slider-container .rev-btn-wrapper {
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 40px;
    text-align: center;
    z-index: 10;
    user-select: none;
    transition: opacity .5s ease-in-out;
    z-index: 10000000000;
    opacity: 0;
    top: 0;
}

#rev-slider.rev-slider-vertical #rev-slider-container .rev-btn-wrapper {
    width: 100%;
}

#rev-slider.rev-slider-vertical #rev-slider-container .rev-btn-wrapper-forward.rev-btn-wrapper {
    bottom: 0;
    top: auto;
}

#rev-slider #rev-slider-container .rev-btn-container {
    position: relative;
    background-color: #333333;
    opacity: .3;
    transition: opacity .5s ease-in-out;
    height: 100%;
    text-align: center;
    border-radius: 5px;
}

#rev-slider #rev-slider-container .rev-btn-container label {
    cursor: pointer;
}

#rev-slider #rev-slider-container .rev-btn-container:hover {
    opacity: .8;
}

#rev-slider #rev-slider-container .rev-btn-dual {
    position: absolute;
    left: 5px;
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(89,89,89,1);
    top: 50%;
    margin-top: -36px;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 200ms;
}

#rev-slider #rev-slider-container .rev-btn-dual .rev-btn-wrapper {
    position: static;
    width: auto;
    height: auto;
    top: auto;
}

#rev-slider #rev-slider-container .rev-btn-dual .rev-btn-container {
    background-color: inherit;
    opacity: 1;
    height: 36px;
    border-radius: 0;
}

#rev-slider #rev-slider-container:hover .rev-btn-dual {
    opacity: 1;
}

#rev-slider #rev-slider-container .rev-btn-dual.rev-btn-dual-right {
    right: 5px;
    left: auto;
}

#rev-slider #rev-slider-container .rev-btn-dual .rev-btn-wrapper.rev-btn-wrapper-back {
    border-bottom: 1px solid #ddd;
}

#rev-slider #rev-slider-container .rev-btn-dual .rev-btn-wrapper .rev-chevron {
    display: inline-block;
    top: auto;
    margin-top: 0;
    position: static;
    left: auto;
    margin-left: 0;
    fill: #ccc;
}

#rev-slider #rev-slider-container .rev-btn-dual .rev-btn-wrapper:hover .rev-chevron {
    fill: #aaa;
}

#rev-slider #rev-slider-container:hover .rev-btn-wrapper {
    opacity: 1 !important;
}

#rev-slider.rev-slider-text-right .rev-image {
    float: left;
    margin-right: 5px;
}

#rev-slider.rev-slider-text-right .rev-ad a .rev-headline {
    margin-top: 0 !important;
}

#rev-slider a {
    color: inherit;
}

#rev-slider a:hover {
    text-decoration: none;
}

#rev-slider:focus {
    outline: 0;
}

#rev-slider .rev-header {
    float: left;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 0;
    text-align: left;
    width: auto;
}

#rev-slider .rev-sponsored {
    line-height: 24px;
    font-size: 12px;
}

#rev-slider .rev-sponsored.bottom-right,
#rev-slider .rev-sponsored.top-right {
    float: right;
}

#rev-slider .rev-sponsored.top-right a {
    vertical-align: -5px;
}

#rev-slider .rev-sponsored a {
    color: #999;
}

#rev-slider a,
#rev-slider a:hover,
#rev-slider a:focus {
    text-decoration: none;
}

#rev-slider .rev-ad a {
    display: block;
    height: 100%;
    color: #222;
}

#rev-slider .rev-image {
    position: relative;
    transition: background .5s ease-in-out;
    background: #eee;
    overflow: hidden;
}

#rev-slider .rev-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .5s ease-in-out;
    opacity: 0;
}

#rev-slider.loaded .rev-image {
    background: transparent;
}

#rev-slider.loaded .rev-image img {
    opacity: 1;
}

#rev-slider .rev-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

#rev-slider .rev-headline,
#rev-slider .rev-provider {
    margin: 0 10px;
    text-align: left;
}

#rev-slider .rev-headline {
    margin-top: 12px;
    /*height: 40px;*/
    overflow: hidden;
}

#rev-slider .rev-headline h3 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 20px;
    overflow: hidden;
    margin: 0;
}

#rev-slider .rev-provider {
    font-size: 12px;
    color: #888;
    line-height: 30px;
    height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#rev-slider .rev-ad {
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    z-index: 1;
}

#rev-slider .rev-ad img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#rev-slider .rev-content.blur{
    filter: blur(3px);
}

#rev-slider .rev-content {
    transition-property: opacity;
    transition-duration: .5s;
    opacity: 1;
}

#rev-slider .rev-content.rev-next {
    transition-property: opacity;
    transition-duration: .5s;
    opacity: .5;
}

#rev-slider.rev-slider-text-overlay .rev-ad {
    position: relative;
}

#rev-slider.rev-slider-text-overlay .rev-ad a {
    height: 100%;
}

#rev-slider.rev-slider-text-overlay .rev-ad .rev-headline-brand {
    position: absolute;
    bottom: 4px;
    color: #fff;
    text-shadow: 1px 1px rgba(0,0,0,0.8);
}

#rev-slider.rev-slider-text-overlay .rev-ad .rev-headline-brand .rev-provider {
    display: none;
}

#rev-slider.rev-slider-text-overlay .rev-ad .rev-overlay,
#rev-slider.rev-slider-text-overlay .rev-ad .rev-overlay:after,
#rev-slider.rev-slider-text-overlay .rev-ad .rev-overlay:before {
    border-radius: 5px;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

#rev-slider.rev-slider-text-overlay .rev-ad .rev-overlay:after,
#rev-slider.rev-slider-text-overlay .rev-ad .rev-overlay:before {
    transition: all .5s ease-in-out;
    content: "";
    display: block;
}

#rev-slider.rev-slider-text-overlay .rev-ad .rev-overlay:after {
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.65) 100%);
}

#rev-slider.rev-slider-text-overlay .rev-ad .rev-overlay:before {
    opacity: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
}

#rev-slider.rev-slider-text-overlay .rev-ad a:hover .rev-overlay:after {
    opacity: 0;
}

#rev-slider.rev-slider-text-overlay .rev-ad a:hover .rev-overlay:before {
    opacity: 1;
}