#rev-slider, #rev-slider #rev-slider-grid {
    padding: 0;
    width: 100%;
}

#rev-slider #rev-slider-grid > div {
    padding: 10px;
}

#rev-slider {
    display: table;
    width: 100%;
}

#rev-slider a {
    color: inherit;
}

#rev-slider a:hover {
    text-decoration: none;
}

#rev-slider > div {
    display: table-cell;
    vertical-align: middle;
    padding: 0 30px;
}